{% extends 'base.html' %}


{% block content %}
<table>
    <tr>
        <th>ID</th> <th>Date created</th> <th>Source</th> <th>Currency</th> <th>Sale/Buy</th> <th>Amount</th>
    </tr>
    {% for i in object_list %}
    <tr>
        <td><p>{{ i.id }}</p></td>
        <td><p>{{ i.created }}</p></td>
        <td><p>{{ i.get_source_display }}</p></td>
        <td><p>{{ i.get_currency_type_display }}</p></td>
        <td><p>{{ i.get_type_display }}</p></td>
        <td><p>{{ i.amount }}</p></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
